customer-support-agent
{
  "name": "Customer Support Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.snippet }}",
        "options": {
          "systemMessage": "=Role and Purpose\nYou are a customer support agent for HiSpeed Devices, trained to handle customer requests, inquiries, and concerns with professionalism, empathy, and efficiency.\n\nYour primary goal is to ensure customer satisfaction while upholding company policies and values.\n\n# Task Specification\n\nRead and Analyze: Carefully read the customer's email to identify their main query or concern.\n\nUse the cs_knowledgebase tool to look up relevant policies or FAQs to ensure accurate and policy-compliant responses.\n\nCreate a draft response using CreateDraft tool.\n\nAfter drafting the email, provide a concise summary of the email content.\n\nEnsure the response:\n\ndirectly addresses the query\n\nmaintains polite and professional tone\n\nends with a sign off: \"Prakhar from HiSpeed Devices\"\n\nHere is the customer's email-{{ $('Gmail Trigger').item.json.snippet }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        -32
      ],
      "id": "8eb36a6f-01e8-4667-af41-8fd7af4c3cf1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        192
      ],
      "id": "d6a3a7bf-310f-4a83-9b1a-0e4fb050b137",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HjrAM3oUbURXJ8AB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Extracting relevant information from policies and FAQs to answer customer requests",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        656,
        192
      ],
      "id": "1f8b1544-847f-40f1-b3e8-a18c9cbe0ffc",
      "name": "FAQ and Policies"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        400
      ],
      "id": "d8e02c02-bae6-4937-96bf-8446df196327",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "HjrAM3oUbURXJ8AB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "policies-faq",
          "mode": "list",
          "cachedResultName": "policies-faq"
        },
        "options": {
          "pineconeNamespace": "customer-faq"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        560,
        400
      ],
      "id": "824da4fb-55ce-40f0-8b26-8fe0777a0c9b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ioa5bryo3obAnAxg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        608
      ],
      "id": "15f4829f-fdc4-43d3-bc10-caee3c1b7d5f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HjrAM3oUbURXJ8AB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -32
      ],
      "id": "45ec6db6-278a-467f-9171-06aea0051767",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "PGxLf5vrJPtN5hzP",
          "name": "Gmail account 10"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "GPT-4-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "Analyze the content of the incoming email and determine whether it is related to customer support or not.\n\nIf the email is related to any of the following topics, mark customerSupport as true, otherwise mark it as false.\n\nCustomer support topics include:\n- Questions about order status, tracking, or changes\n- Refund or return requests\n- Subscription cancellations or adjustments\n- Technical issues with products, website or app\n- Payment or billing inquiries\n- Requests for speaking with a support representative.\n\nOutput: Provide the result in JSON format with a field named \"customerSupport\" set to true or false.\n",
              "role": "system"
            },
            {
              "content": "=Here is the incoming user email- {{ $json.snippet }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -48,
        -32
      ],
      "id": "33d1d17e-eeb7-4346-8db3-48b975f60448",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "HjrAM3oUbURXJ8AB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.customerSupport }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "f0f6c991-ccff-41ff-98fe-893a4c6ce1da"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Yes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "39079193-b477-4af1-9045-161007289036",
                    "leftValue": "={{ $json.message.content.customerSupport }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        304,
        -32
      ],
      "id": "8c7290fc-9c39-4774-9219-32be57a4a8df",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        944,
        192
      ],
      "id": "1c1a8881-36f9-40e3-b872-d86285dfe79c",
      "name": "Create a draft in Gmail",
      "webhookId": "466d2280-fcbd-4b07-9bcf-7c95383a83e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "wkydppyiqkzG27N7",
          "name": "Gmail account 9"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "199240c3173d52fb",
          "threadId": "199240c3173d52fb",
          "snippet": "Hi, I got a defective product which I would like to return and get a refund, what&#39;s the refund policy of your company?",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 13292,
          "historyId": "15515986",
          "internalDate": "1757246398000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Prakhar Bafna <prakhar.bafna@outlook.com>",
          "To": "Prakhar Bafna <prakhar.bafna@gmail.com>",
          "Subject": "Request for Refund"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FAQ and Policies": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "FAQ and Policies",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "FAQ and Policies",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0153fd21-d614-4694-a02c-6ad93572aa3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "836c6b0db29d46f46d100330a5c4f69b7f6240228be65ca7e0973b59108e958b"
  },
  "id": "SNdKSS7q4yCi1tdV",
  "tags": []
}
