VectorStore_Populator.json
{
  "name": "Vectorstore_popluator",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        80,
        -16
      ],
      "id": "2abe8f8d-09a1-4e1e-8c4b-f0be2b0c3b37",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "policies-faq",
          "mode": "list",
          "cachedResultName": "policies-faq"
        },
        "options": {
          "pineconeNamespace": "customer-faq"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        288,
        -16
      ],
      "id": "d41b6e2e-4ce6-4dc0-81bc-981981d3170a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ioa5bryo3obAnAxg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        192
      ],
      "id": "34c3591c-6132-4f59-96b7-422cc7755abb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HjrAM3oUbURXJ8AB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        464,
        192
      ],
      "id": "37f3b420-305d-48b6-b8f1-30c7fc9dec31",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        304
      ],
      "id": "662ff523-896c-4278-9186-d9276a94fbf1",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        -16
      ],
      "id": "7fa9fcf0-0b77-4976-a59a-a562fc4a81e4",
      "name": "Telegram Trigger",
      "webhookId": "e0708950-1c16-4f0d-b02c-f127e5ec8f4c",
      "credentials": {
        "telegramApi": {
          "id": "ZKRZF1Ak8CvpQZYS",
          "name": "Prakhar Telegram"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2bafe7d-b752-49f3-b13c-8fb28666fd2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "836c6b0db29d46f46d100330a5c4f69b7f6240228be65ca7e0973b59108e958b"
  },
  "id": "6RrRbAdYUBoYPqSi",
  "tags": []
}
